<style type="text/css">
html,body{
  height: 100%;
}

body {
  background-color: white;
  font-size: 150%;
}
h1 {
  font-size: 250%;
  text-align: center;
  margin:10px;
  line-height: 100%;
}
h3 {
  font-size: 125%;
  text-align: center;
}
.align-center {
 text-align:center;
}

#container {
   min-height:100%;
   position:relative;
  background-image: url('assets/vatican_flag.jpg');
  background-size: 100% auto;
}
#header {
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   margin:10px;
}
#footer p.left {
 float: left; 
 margin-left:10%;
}
#footer p.right {
 float: right; 
 margin-right:10%;
}
.margin-top-bottom {
 margin-top: 20px;
 margin-bottom: 10px;
}
#disclaimer {
  font-size:65%;
}
.popover {
    margin-right: -200px !important;
    margin-left: -200px !important;
}

</style>
<% content_for :title, "Title for specific page" %>
<div id="container">
    <div id="header"><%= link_to "My Phrases", phrases_path %><%= @showPhraseCount %></div>
    <div id="body">
        <h3 class="margin-bottom:-15px;">Ahora que el Papa es argentino,</h3>
        <h1><%= @showText %></h1>
            <%= form_tag :controller => :frase, :action => :create, :method => :post, :align => :center  do %>
        <div class="align-center margin-top-bottom">
            <%= text_field_tag 'text', '', :class => "input-xxlarge", :placeholder => "Sugerí tu frase acá" %>
        </div>
        <div class="align-center">
            <%= submit_tag "      Dale!      ", class:"btn btn-success"  %>
        </div>
    </div>
    <div id="footer">
        <p class="left">
            <a href="http://www.linkedin.com/in/damianferrai" target="_blank"><img src="assets/social/linkedin.png" alt="Linkedin" title="Linkedin"></a>
            <a href="http://www.facebook.com/damian.ferrai/" target="_blank"><img src="assets/social/facebook.png" alt="Facebook" title="Facebook"></a>
        </p>
        <p class="right">
        <%= link_to('?', '#', :class => "btn popover-with-html", :title => "Sobre Frases Papales", :"data-placement"=>"top") %>
        </>
        <div id="popover_content_wrapper" style="display: none;">
            <div id="disclaimer">Este sitio fue realizado utilizando Ruby on Rails con fines de aprendizaje. Las frases que se muestran fueron recopiladas de distintos medios y no expresan la visión del autor. Todos los derechos reservados.
            </div>
        </div>
    </div>
</div>
<% end %>
